<!<!DOCTYPE html>
<html lang="es">

<head>
	<title>PRE PROD ::</title>
	<meta name="utf-8"/>
	<meta name="description" content="PRE PRODUCCION"/>

	<!--
	AUTOAJUSTANDO A LA RESOLUCION DE LA PANTALA
	ajustando el ancho con el que se debe visdualizar el sitio y la escala


	escala del sitio ajustada a la anchura del dispositivo,
	mobiles, SCALE = 
	tablets, SCALE =
	laptops, SCALE = 
	-->
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<!--
	LINKS CSS, JS
		TRUCO PARA LOGOTIPOS E IMAGENES:
	<img class=""  alt="texto alt..... "

	<link rel="shortcut icon" type="image/x-icon" href="faviconPiura.ico" />

		*************************************************************


		<link rel="stylesheet" href="../css/styleSheet-preProd.css" />
	-->
	<link rel="stylesheet" type="text/css" href="../libraries/css/normalize.css">
	<link rel="stylesheet" href="../css/experimental-module/styleSheet-expMod.css" />




</head>
<body>

<header>
	
</header>
	<nav>
		<ul>
			<li><a href="#">SubList1</a></li>
			<li><a href="#">SubList2</a></li>
			<li><a href="#">SubList3</a></li>
			<li><a href="#">Peliculas</a>
				<div>
							<ul>
								<li class="CLASS_TITLE"><a href="#">categoria</a></li>
								<li><a href="#">categoria2</a></li>
								<li><a href="#">categoria3</a></li>
							</ul>

							<ul>
								<li class="CLASS_TITLE"><a href="#">SubList1</a></li>
								<li><a href="#">SubList2</a></li>
								<li><a href="#">SubList3</a></li>
							</ul>
							<ul>
								<li class="CLASS_TITLE"><a href="#">SubList1</a></li>
								<li><a href="#">SubList2</a></li>
								<li><a href="#">SubList3</a></li>
							</ul>
				</div>
			</li>
			<li><a href="#">Series</a>
				<div>
							<ul>
								<!--  CABECERA DE SUB CATEGORIA -->
								<li class="CLASS_TITLE"><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
							</ul>

							<ul>
								<li class="CLASS_TITLE"><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
							</ul>
							<ul>
								<li class="CLASS_TITLE"><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
								<li><a href="#">Serie categoria 1</a></li>
							</ul>
				</div>
			</li>



		</ul>
	</nav>
</body>
</html>